  <div class="modal-header">
    <h4 class="modal-title">Image Upload Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid text-center" *ngIf="!displayRecord">
      <h1><span class="oi oi-cloud-download"></span></h1>
      <h4>Loading....</h4>
    </div>
    <div class="container-fluid" *ngIf="displayRecord">
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <!-- <th scope="col">#</th> -->
                <th scope="col">Field</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Filename</td>
                <td>{{displayRecord.filename}}</td>
              </tr>
              <tr>
                <td>Filesize</td>
                <td>{{displayRecord.fileSize}}</td>
              </tr>
              <tr>
                <td>Width</td>
                <td>{{displayRecord.dimensions.width}}</td>
              </tr>
              <tr>
                <td>Height</td>
                <td>{{displayRecord.dimensions.height}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-12">
          <img class="img-fluid" [src]='showSafeUrlEncoding()' alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="activeModal.close('Delete Click')">Delete Upload</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>
